.main-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 30px;

    &__wrapper {
        height: 539px;
        background-image: url(../images/background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: grid('lg')) {
            height: 555px;
        }

        @media (max-width: grid('md')) {
            height: 517px;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;
    }

    &__title-left-side, &__title-right-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title-logo-img {
        margin: 40px 0 35px;
    }
    
    &__title-text {
        margin: 0 0 30px;
        color: color('white');
    }
    
    &__title-link {
        display: flex;
        align-items: center;
        margin: 0 0 40px;
        text-transform: uppercase;
    }

    &__title-link-text {
        margin: 0 16px 0 0;
        color: color('black');
    }

    &__title-img {
        position: absolute;
        top: 10px;
        left: calc(50% - 148px);
    }

    &__title-main {
        color: color('white');
        font-size: 75px;
        font-weight: 300;
        line-height: 72px;

        @media (max-width: grid('xl')) {
            font-size: 60px;
        }

        @media (max-width: grid('xl')) {
            display: none;
        }
    }

    &__benefits {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 24px;
        max-width: 1440px;
        width: 100%;
    }

    &__benefits-item {
        flex-grow: 1;
        margin: 0 30px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}
