* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    font-size: var(--font-size-base);
    box-sizing: border-box;
    font-family: Gotham Pro, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    position: relative;
    display: block;
    margin: 0;
}

.page {
    background-color: color('gray');
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px 50px 56px;
    height: calc(100vh - 140px);

    @media (max-width: grid('lg')) {
        margin: 20px 20px 28px;
        height: calc(100vh - 160px);
    }

    @media (max-width: grid('md')) {
        margin: 0 0 30px;
        height: calc(100vh - 130px);
    }
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    outline: none;
    border: none;
}
